h1
{
    text-align: center;
    color:  #FFBF00;
    font-style: italic;
}

img
{
    float: left;
    top: 0px;
    position: absolute;
    width: 100px;
    height: 100px;
}

a
{
    float: right;
    top: 30px;
    right: 100px;
    position: absolute;
    font-size: 22px;
    color: #FFBF00;
    text-decoration: none;
    padding-right: 200px;

}
header
{
    background-color: black;
    height: 100px;
    position: absolute;
    top: 0px;
    width: 1535px;
    left: 0px;
    position: fixed;
}

